@font-face {
    font-family: 'CenturyGothic';
    src: url('/fonts/centurygothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('/fonts/centurygothic_bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

:root {
    --pink: #FCE7F3;
    --rose: #DFABCA;
    --gold: #BA9666;
}

body {
    font-family: 'CenturyGothic', sans-serif;
    width: 100%;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
}

.bg-rose {
    background-color: var(--rose);
}

.animated-border-button {
    position: relative;
    overflow: hidden;
    background-color: #F0C8E0;
    color: var(--gold);
    text-transform: uppercase;
    padding: 0.5rem 2rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s ease;
}

.animated-border-button:hover {
    transform: scale(1.05);
}

.animated-border-button .border {
    position: absolute;
    background-color: var(--gold);
    transition: all 0.3s ease;
    opacity: 0;
}

.animated-border-button:hover .border {
    opacity: 1;
}

.animated-border-button .border.top {
    top: 0;
    left: 0;
    height: 2px;
    width: 0;
    transition-delay: 0.9s;
}

.animated-border-button:hover .border.top {
    width: 100%;
    transition-delay: 0s;
}

.animated-border-button .border.left {
    top: 0;
    left: 0;
    width: 2px;
    height: 0;
    transition-delay: 0.6s;
}

.animated-border-button:hover .border.left {
    height: 100%;
    transition-delay: 0.3s;
}

.animated-border-button .border.bottom {
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    transition-delay: 0.3s;
}

.animated-border-button:hover .border.bottom {
    width: 100%;
    transition-delay: 0.6s;
}

.animated-border-button .border.right {
    top: 0;
    right: 0;
    width: 2px;
    height: 0;
    transition-delay: 0s;
}

.animated-border-button:hover .border.right {
    height: 100%;
    transition-delay: 0.9s;
}

.menu-link {
    position: relative;
    padding-bottom: 4px;
    transition: color 0.3s ease;
}

.menu-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--gold);
    transition: width 0.3s ease;
}

.menu-link:hover::after {
    width: 100%;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.background-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #ba9666;
    transform: scaleY(0);
    transform-origin: bottom;
}

.slide-image {
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes reveal-bg {
    to {
        transform: scaleY(1);
    }
}

@keyframes reveal-img {
    to {
        transform: scaleX(1);
    }
}

.image-container.active .background-overlay {
    animation: reveal-bg 1s forwards;
}

.image-container.active .slide-image {
    animation: reveal-img 1s 2s forwards;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.animate-float {
    animation: float 3s ease-in-out infinite;
}

.circle-container::before {
    content: "";
    background-image: url('/img/circle-back.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 800px;
    transform: translate(-50%, -50%);
}

.circle::before {
    content: "";
    background-image: url('/img/circle-back.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 23%;
    left: 25%;
    width: 800px;
    height: 800px;
    transform: translate(-50%, -50%);
}

.smcircle::before {
    content: "";
    background-image: url('/img/circle-back.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 50%;
    bottom: -50%;
    width: 400px;
    height: 400px;
    margin-top: -220px;
}

.animate-block {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease-out, transform 2s ease-out;
}

.animate-block.active {
    opacity: 1;
    transform: translateY(0);
}

.animate-image,
.animate-text {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 2s ease-out;
}

.animate-image.active,
.animate-text.active {
    opacity: 1;
    transform: translateY(0);
}
/* Десктопная карусель с двумя рядами */
.desktopSwiper {
    height: 260px; /* Фиксированная высота для двух рядов */
    padding: 0 40px;
  }
  
  .desktopSwiper .swiper-slide {
    height: 300px !important; /* Высота одного слайда */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Адаптация для разных разрешений */
  @media (max-width: 1440px) {
    .desktopSwiper {
      height: 240px;
    }
    .desktopSwiper .swiper-slide {
      height: 100px !important;
    }
  }

/* .swiper {
    width: 300px;
    height: 600px;
    perspective: 1000px;
} */

/* .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex !important;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease, opacity 0.5s ease;
    border-radius: 10px;
    cursor: grab;
}

.swiper-slide-active {
    z-index: 10;
    opacity: 1;
}

.swiper-slide-prev,
.swiper-slide-next {
    transform: scale(0.8);
    z-index: 5;
    opacity: 0.7;
}

.swiper-slide img {
    width: 100%;
    height: auto;
    display: block;
}

.scale {
    display: inline-block;
    overflow: hidden;
}

.scale img {
    transition: 1s;
    display: block;
}

.scale img:hover {
    transform: scale(1.2);
} */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f7e4ef;
}

::-webkit-scrollbar-thumb {
    background-color: #BA9666;
    border-radius: 10px;
}

@media (max-width: 640px) {

    .footer-copy::after,
    .footer-copy::before,
    .circle-container:before,
    .circle::before,
    .smcircle::before {
        display: none !important;
    }
}